*{
    font-family: 'Balsamiq Sans', cursive;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(241, 213, 179);
}
.head{
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: flex;
    flex-wrap: wrap;
    position: relative;
}

h1, h2, button{
    margin-left: 20px;
}

h2{
    margin-left:40px;
}

a{
    text-decoration: none;
    color: black;
}

button{
    position: absolute;
    right: 10px;
    width: 10%;
    font-size: 15px;
    padding: 5px;
}

.main{
    grid-area: main;
    display: flex;

}

.left, .right{
    width: 50%;
    margin: 5px;
}

.left{
    padding: 50px;
    text-align: center;
    margin: auto;
}
.left p{
    text-align: justify;
}

.right{
    padding: 10px;
    text-align: center;
    margin: auto;
}

img{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
    border: 2px solid black;
    border-radius: 40px;
    box-shadow: 3px 3px 5px black;
}

.foot{
    grid-area: footer;
    font-weight: bold;
    font-size: 20px;
}

.foot p{
    padding: 10px;
}


.container{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: grid;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    grid-template: 
        'header' 60px
        'main' 1fr
        'footer' 60px;
}

.grid-item{
    background-color: burlywood;
    border: 3px solid black;
    padding: 10px;
    
}

/* Extra Large Screens */
@media (min-width: 1201px){

}

/* Desktop, Large Screens */
@media (min-width: 1025px) and (max-width: 1200px){
    button{
        font-size: 14px;
    }
}

/* Small Screens, Laptops */
@media (min-width: 769px) and (max-width: 1024px){
    .head h1{
        font-size: 30px;
    }
    .head h2{
        font-size: 20px;
        text-align: center;
        padding-top: 5px;
    }
    button{
        width: 13%;
        font-size: 13px;
    }
}

/* Small Screens, Laptops */
@media (min-width: 481px) and (max-width: 768px){
    .head h1{
        font-size: 20px;
        padding-top: 5px;
    }
    .head h2{
        font-size: 15px;
        text-align: center;
        padding-top: 5px;
        margin-left: 10px;
        margin-right: 5px;
    }
    a{
        padding-top:2px;
    }

    button{
        width: 15%;
        font-size: 11px;
    }

    .left{
        padding:10px;
    }
    .left h1{
        font-size: 18px;
        margin-bottom: 10px;
        margin-left:auto;
        margin-right: auto;
    }
    
    .left p{
        font-size: 10px;
    }

    .foot{
        font-size: 15px;
    }
    
}

/* Small Screens, Laptops */
@media(min-width: 320px) and (max-width: 480px){
    .head h1{
        margin-left: 5px;
        font-size: 15px;
        padding-top: 5px;
    }
    .head h2{
        font-size: 10px;
        text-align: center;
        padding-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    a{
        padding-top:2px;
    }

    button{
        width: 15%;
        font-size: 8px;
    }

    .left{
        padding:10px;
    }

    .left h1{
        font-size: 18px;
        margin-bottom: 10px;
        margin-left:auto;
        margin-right: auto;
    }
    
    .left p{
        font-size: 10px;
    }

    img{
        border-radius: 20px;
    }
    .foot{
        font-size: 10px;
    }
}
